
<div *ngIf="cartItems.length > 0" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
    Sepetiniz
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a *ngFor="let cartItem of cartItems">
      <a class="dropdown-item">
        {{cartItem.product.productName}}
        <span class="badge bg-primary">{{cartItem.quantity}}</span>
        <span class="badge bg-primary" (click)="removeFromCart(cartItem.product)">Temizle</span>
      </a>
    </a>
    <a>
        <hr class="dropdown-divider">
    </a>
    <div style="text-align:center"><button type="button" class="btn btn-danger" routerLink="./camera">Alışverişi bitir.</button></div>
  </div>
</div>

